body {
    margin: 0;
    padding: 0;
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal {
    width: 100%; /* Changed to 100% for full-screen */
    height: 100%; /* Changed to 100% for full-screen */
    background-color: #000;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    padding: 20px;
    overflow: auto;
    border: 2px solid #0f0;
    box-shadow: 0 0 10px #0f0;
}

#output {
    margin: 0;
    white-space: pre-wrap;
    animation: blink 1s infinite;
}

#password-section {
    margin-top: 10px;
}

#password-input {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    font-family: "Courier New", Courier, monospace;
}

button {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
}

button:hover {
    background-color: #0f0;
    color: #000;
}

@keyframes blink {
    50% { border-right: 2px solid #0f0; }
}